backend/template.yaml
AWSTemplateFormatVersion: "2010-09-09"
Transform: AWS::Serverless-2016-10-31
Description: BIBLIOnomics Enrichment Backend

Globals:
  Function:
    Runtime: python3.12
    Timeout: 30
    MemorySize: 256
    Environment:
      Variables:
        DYNAMODB_TABLE: !Ref EnrichmentRequestsTable
        INPUT_BUCKET: !Ref InputBucket
        OUTPUT_BUCKET: !Ref OutputBucket

Parameters:
  Env:
    Type: String
    Default: dev
    AllowedValues: [dev, prod]
  ApiKey:
    Type: String
    NoEcho: true
    Description: API key value that clients must send in the x-api-key header
  BiblioShareToken:
    Type: String
    NoEcho: true
    Description: "Token for the BiblioShare API"
  GoogleBooksApiKey:
    Type: String
    NoEcho: true
    Default: ""
    Description: "API key for the Google Books API"

Resources:
  # ── S3 Buckets ──────────────────────────────────────────────────────────────

  InputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "biblionomics-enrichment-input-${Env}"
      CorsConfiguration:
        CorsRules:
          - AllowedOrigins: ["*"]
            AllowedMethods: [GET, PUT]
            AllowedHeaders: ["*"]
            MaxAge: 3000

  OutputBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "biblionomics-enrichment-output-${Env}"
      CorsConfiguration:
        CorsRules:
          - AllowedOrigins: ["*"]
            AllowedMethods: [GET]
            AllowedHeaders: ["*"]
            MaxAge: 3000

  # ── DynamoDB ─────────────────────────────────────────────────────────────────

  EnrichmentRequestsTable:
    Type: AWS::DynamoDB::Table
    Properties:
      TableName: !Sub "enrichment-requests-${Env}"
      BillingMode: PAY_PER_REQUEST
      AttributeDefinitions:
        - AttributeName: requestId
          AttributeType: S
      KeySchema:
        - AttributeName: requestId
          KeyType: HASH

  # ── IAM Role (shared) ────────────────────────────────────────────────────────

  LambdaExecutionRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "biblionomics-lambda-role-${Env}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: lambda.amazonaws.com
            Action: sts:AssumeRole
      ManagedPolicyArns:
        - arn:aws:iam::aws:policy/service-role/AWSLambdaBasicExecutionRole
      Policies:
        - PolicyName: BiblionomicsAccess
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action:
                  - dynamodb:GetItem
                  - dynamodb:PutItem
                  - dynamodb:UpdateItem
                  - dynamodb:Scan
                  - dynamodb:Query
                Resource: !GetAtt EnrichmentRequestsTable.Arn
              - Effect: Allow
                Action:
                  - dynamodb:DeleteItem
                Resource: !GetAtt EnrichmentRequestsTable.Arn
              - Effect: Allow
                Action:
                  - s3:PutObject
                  - s3:GetObject
                  - s3:HeadObject
                  - s3:DeleteObject
                Resource:
                  - !Sub "arn:aws:s3:::biblionomics-enrichment-input-${Env}/*"
                  - !Sub "arn:aws:s3:::biblionomics-enrichment-output-${Env}/*"
              - Effect: Allow
                Action:
                  - comprehend:DetectEntities
                  - comprehend:DetectKeyPhrases
                Resource: "*"
              - Effect: Allow
                Action:
                  - lambda:GetFunctionConfiguration
                  - lambda:UpdateFunctionConfiguration
                Resource: !Sub "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:biblionomics-enrich-one-book-${Env}"
              - Effect: Allow
                Action:
                  - states:StartExecution
                Resource: !Sub "arn:aws:states:${AWS::Region}:${AWS::AccountId}:stateMachine:biblionomics-enrichment-pipeline-${Env}"

  # ── Lambda Authorizer ────────────────────────────────────────────────────────

  AuthorizerFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-authorizer-${Env}"
      CodeUri: lambdas/authorizer/
      Handler: authorizer.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          API_KEY: !Ref ApiKey

  # ── Lambda Functions ─────────────────────────────────────────────────────────

  JobStarterFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-job-starter-${Env}"
      CodeUri: lambdas/job_starter/
      Handler: job_starter.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          STATE_MACHINE_ARN: !Ref EnrichmentStateMachine
      Events:
        PostJobsBegin:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /jobs/begin
            Method: POST

  GetStatusFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-get-status-${Env}"
      CodeUri: lambdas/get_status/
      Handler: get_status.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        GetJobsStatus:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /jobs/status
            Method: GET

  JobRedoFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-job-redo-${Env}"
      CodeUri: lambdas/job_redo/
      Handler: job_redo.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        PostJobsRedo:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /jobs/redo
            Method: POST

  JobDeleteFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-job-delete-${Env}"
      CodeUri: lambdas/job_delete/
      Handler: job_delete.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        DeleteJob:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /jobs/delete
            Method: DELETE

  GenerateDownloadFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-generate-download-${Env}"
      CodeUri: lambdas/generate_download/
      Handler: generate_download.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Events:
        GetGenerateDownload:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /jobs/generate-download
            Method: GET

  BiblioTokenFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-biblio-token-${Env}"
      CodeUri: lambdas/biblionomics_token/
      Handler: biblionomics_token.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          ENRICH_FUNCTION_NAME: !Sub "biblionomics-enrich-one-book-${Env}"
      Events:
        GetBiblioToken:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /biblionomics-token
            Method: GET
        PostBiblioToken:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /set-token
            Method: POST
        GetGoogleApiKey:
          Type: HttpApi
          Properties:
            ApiId: !Ref BiblionomicsApi
            Path: /google-api-key
            Method: GET

  EnrichOneBookFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-enrich-one-book-${Env}"
      CodeUri: lambdas/enrich_one_book/
      Handler: enrich_one_book.lambda_handler
      Timeout: 20 # A bit longer to account for multiple API calls
      Role: !GetAtt LambdaExecutionRole.Arn
      Environment:
        Variables:
          BIBLIOSHARE_TOKEN: !Ref BiblioShareToken
          GOOGLE_BOOKS_API_KEY: !Ref GoogleBooksApiKey

  ResultsAggregatorFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-results-aggregator-${Env}"
      CodeUri: lambdas/results_aggregator/
      Handler: results_aggregator.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn
      Timeout: 30

  JobStatusUpdaterFunction:
    Type: AWS::Serverless::Function
    Properties:
      FunctionName: !Sub "biblionomics-job-status-updater-${Env}"
      CodeUri: lambdas/job_status_updater/
      Handler: job_status_updater.lambda_handler
      Role: !GetAtt LambdaExecutionRole.Arn

  # ── API Gateway (HTTP API v2) ─────────────────────────────────────────────────

  BiblionomicsApi:
    Type: AWS::Serverless::HttpApi
    Properties:
      StageName: !Ref Env
      CorsConfiguration:
        AllowOrigins:
          - "*"
        AllowMethods:
          - GET
          - POST
          - DELETE
          - OPTIONS
        AllowHeaders:
          - Content-Type
          - x-api-key
        MaxAge: 86400
      Auth:
        DefaultAuthorizer: ApiKeyAuthorizer
        Authorizers:
          ApiKeyAuthorizer:
            FunctionArn: !GetAtt AuthorizerFunction.Arn
            FunctionInvokeRole: !GetAtt AuthorizerInvokeRole.Arn
            Identity:
              Headers:
                - x-api-key
            AuthorizerPayloadFormatVersion: "2.0"
            EnableSimpleResponses: true

  # ── Orchestration Layer (Step Functions) ────────────────────────────────────

  EnrichmentStateMachineRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "biblionomics-states-role-${Env}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: states.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeLambdas
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource:
                  - !GetAtt EnrichOneBookFunction.Arn
                  - !GetAtt ResultsAggregatorFunction.Arn
                  - !GetAtt JobStatusUpdaterFunction.Arn

  EnrichmentStateMachine:
    Type: AWS::Serverless::StateMachine
    Properties:
      Name: !Sub "biblionomics-enrichment-pipeline-${Env}"
      Role: !GetAtt EnrichmentStateMachineRole.Arn
      Definition:
        StartAt: ProcessBooks
        States:
          ProcessBooks:
            Type: Map
            ItemsPath: "$.isbns"
            ItemSelector:
              "isbn.$": "$$.Map.Item.Value"
              "jobId.$": "$.jobId"
            MaxConcurrency: 50
            ResultPath: "$.enrichmentResults"
            Next: AggregateResults
            Iterator:
              StartAt: EnrichBook
              States:
                EnrichBook:
                  Type: Task
                  Resource: !GetAtt EnrichOneBookFunction.Arn
                  Retry:
                    - ErrorEquals: ["States.TaskFailed"]
                      IntervalSeconds: 2
                      MaxAttempts: 3
                      BackoffRate: 2.0
                  End: true
          AggregateResults:
            Type: Task
            Resource: !GetAtt ResultsAggregatorFunction.Arn
            ResultPath: "$.aggregationResult"
            Next: UpdateJobStatus
          UpdateJobStatus:
            Type: Task
            Resource: !GetAtt JobStatusUpdaterFunction.Arn
            End: true

  # ── Frontend Hosting ──────────────────────────────────────────────────────────

  FrontendBucket:
    Type: AWS::S3::Bucket
    Properties:
      BucketName: !Sub "biblionomics-frontend-${Env}"

  FrontendOAC:
    Type: AWS::CloudFront::OriginAccessControl
    Properties:
      OriginAccessControlConfig:
        Name: !Sub "biblionomics-oac-${Env}"
        OriginAccessControlOriginType: s3
        SigningBehavior: always
        SigningProtocol: sigv4

  FrontendBucketPolicy:
    Type: AWS::S3::BucketPolicy
    Properties:
      Bucket: !Ref FrontendBucket
      PolicyDocument:
        Statement:
          - Effect: Allow
            Principal:
              Service: cloudfront.amazonaws.com
            Action: s3:GetObject
            Resource: !Sub "${FrontendBucket.Arn}/*"
            Condition:
              StringEquals:
                AWS:SourceArn: !Sub "arn:aws:cloudfront::${AWS::AccountId}:distribution/${FrontendDistribution}"

  FrontendDistribution:
    Type: AWS::CloudFront::Distribution
    Properties:
      DistributionConfig:
        Enabled: true
        DefaultRootObject: index.html
        Origins:
          - Id: s3-origin
            DomainName: !GetAtt FrontendBucket.RegionalDomainName
            S3OriginConfig:
              OriginAccessIdentity: ""
            OriginAccessControlId: !GetAtt FrontendOAC.Id
        DefaultCacheBehavior:
          TargetOriginId: s3-origin
          ViewerProtocolPolicy: redirect-to-https
          CachePolicyId: 658327ea-f89d-4fab-a63d-7e88639e58f6
          AllowedMethods: [GET, HEAD]
          CachedMethods: [GET, HEAD]
        CustomErrorResponses:
          - ErrorCode: 403
            ResponsePagePath: /index.html
            ResponseCode: "200"
            ErrorCachingMinTTL: 0

  AuthorizerInvokeRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub "biblionomics-authorizer-invoke-role-${Env}"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: Allow
            Principal:
              Service: apigateway.amazonaws.com
            Action: sts:AssumeRole
      Policies:
        - PolicyName: InvokeAuthorizer
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: Allow
                Action: lambda:InvokeFunction
                Resource: !GetAtt AuthorizerFunction.Arn

Outputs:
  ApiUrl:
    Description: API Gateway base URL
    Value: !Sub "https://${BiblionomicsApi}.execute-api.${AWS::Region}.amazonaws.com/${Env}"

  InputBucketName:
    Value: !Ref InputBucket

  OutputBucketName:
    Value: !Ref OutputBucket

  DynamoDBTableName:
    Value: !Ref EnrichmentRequestsTable

  FrontendBucketName:
    Value: !Ref FrontendBucket

  FrontendUrl:
    Description: CloudFront URL for the frontend
    Value: !Sub "https://${FrontendDistribution.DomainName}"

  FrontendDistributionId:
    Value: !Ref FrontendDistribution